*, ::after, ::before {
    box-sizing: border-box;
  }
   
  #calculator {
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0;
    max-width: 320px;
    min-width: 320px;
    flex-direction: column;
    background-color: #424345;
  }
    .calculator-input {
      color: #D4D4D2;
      width: 100%;
      border: none;
      padding: .8rem;
      display: block;
      font-size: 2.4rem;
      background: none;
      text-align: right;
      font-weight: lighter;
    }
    .calculator-row {
      display: flex;
      padding: 0;
      justify-content: space-around;
     
    }
    .calculator-col {
      flex: 1;
      box-shadow: 0 0 0 1px #2f2f31;
    }
    .wide {
      flex: 2;
    }
    .calculator-btn {
      width: 100%;
      color:  #D4D4D2;;
      border: none;
      cursor: pointer;
      padding: .8rem;
      outline: none;
      font-size: 1.6rem;
      transition: all .3s ease-in-out;
      font-weight: 200;
      justify-content: center;
      background-color: #616163 ;
     
  }
    .gray {
    background-color: #424345;
  }
    .accent{
      background-color: #f49e3f;
    }